<div class="background_image">
  <div class="top_search">
    <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
    <p>エリア</p>
    <input type="text" placeholder="東京">
    <input type="submit" value=探す>
  </div>
</div>
<div class="top_area">
  <h2>おすすめのエリア</h2>
  <div class="inner_top_area">
    <div class="area">
      <a href="">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg" alt="東京">
        <p>東京</p>
      </a>
    </div>  
    <div class="area">
      <a href="">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg" alt="大阪">
        <p>大阪</p>
      </a>
    </div>  
    <div class="area">
      <a href="">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg" alt="京都">
        <p>京都</p>
      </a>
    </div>  
    <div class="area">
      <a href="">
        <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg" alt="札幌">
        <p>札幌</p>
      </a>
    </div>  
  </div>
</div>  
